.form-site{
  border: 1px solid black;
  padding: 20px;
}

.helptext, .helptext ul li{
  margin: 0 auto;
  color: grey;
  font-size: 0.9em;
  display: block;
}

.errorlist li{
  padding: 10px;
  list-style-type: none;
  border: 1px solid black;
  color: red;
  margin: 10px 0;
}

.errorlist{
  padding: 0;
}
